.mainBgBrown{
    background-color: #f17629;
} 
.mainTextBrown{
    color: #f17629;
} 
.mainBgBlack{
    background-color: black;
}
.mainTextBlack{
    color: black;
}
.mainBgDarkGray{
    background-color: #706e57;
}
.mainTextDarkGray{
    color: #706e57;
}
.mainBgDarkWhite{
    background-color: #ececec;
}