@import "./variables";
@import "./mixins";
@import "/css/bootstrap.min.css";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
  color: $c-s;
}

a {
  text-decoration: none;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

// .sectionS1 {
//   // 100px === navbar height
//   min-height: calc(100vh - 70px);
// }

.main-section {
  padding: 100px 152px 0;
  @include medium {
    padding: 100px 80px 0;
  }
  @include small {
    padding: 75px 50px 0;
  }
  @include x-small {
    padding: 40px 25px 0;
  }
}

.main-title {
  font-family: Rounded Mplus 1c Bold;
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
  color: $c-p;
  padding: 50px 0;
  position: relative;
  display: flex;
  justify-content: start;
  align-items: end;

  @include small {
    font-size: 28px;
    font-weight: 700;
    line-height: 35px;
  }
  span {
    //position: absolute;
    margin-bottom: 15px;
    margin-left: 4px;
    display: block;
    width: 50px;
    height: 4px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: $c-p;
    @include small {
      margin-bottom: 8px;
    }
  }
}
.descripe {
  font-family: Rozha One;
  font-size: 30px;
  font-weight: 400;
  line-height: 60px;
  color: $c-b;
  overflow: hidden;
  max-height: 100px; /* Change this value as needed */
  transition: max-height 0.5s ease;
  @include small {
    font-size: 20px;
    line-height: 30px;
  }
}

.descripe.expanded {
  max-height: none;
  transition: max-height 0.5s ease;
}
.readmore {
  width: 71.59px;
  height: 75.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  margin: auto;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  svg {
    font-size: 40px;
    color: $c-p;
  }
}
// footer
// .footer {
//   background: #000;
//   padding: 10px 0;

//   .footer-content {
//     display: flex;
//     align-items: center;
//     justify-content: space-between;

//     @include small {
//       flex-direction: column-reverse;
//       gap: 30px;
//     }

//     .logo {
//       img {
//         width: 100px;
//       }
//     }

//     p {
//       color: #fff;
//       font-weight: 400;
//       margin: 0;
//     }

//     ul {
//       display: flex;
//       align-items: center;
//       gap: 20px;

//       li {
//         img {
//           width: 35px;
//         }
//       }
//     }
//   }
// }

footer {
  color: #fff;
  background-color: #706e57;
  padding: 30px 160px;
  @include medium {
    padding: 30px 80px;
  }
  @include small {
    padding: 20px 20px;
  }
  .desc {
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
    span {
      font-size: 15px;
      font-weight: 400;
    }
    @include medium {
      text-align: start;
    }
  }
  .row {
    display: flex;
    padding: 1rem;
  }

  h4 {
    margin-bottom: 0.9375rem;
    font-size: 1.5rem;
  }

  p {
    font-size: 1rem;
    line-height: 1.3rem;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  ul li {
    margin-bottom: 0.625rem;
  }

  ul li a {
    color: #fff;
    font-size: 1rem;
    transition: 0.3s all ease;
  }

  ul li i {
    color: #fff;
  }

  ul li a:hover {
    color: #fff;
    margin-left: 0.2rem;
  }

  ul.social-icons {
    display: flex;
    column-gap: 0.625rem;
  }

  .social-icons i {
    color: #fff;
  }

  ul.social-icons li {
    margin-bottom: 0rem;
  }
  .social-links {
    direction: rtl;
    @include medium {
      direction: ltr;
    }
  }
  .social-links a {
    color: #706e57;
    background-color: #ffffff;
    display: inline-block;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    text-align: center;
    margin: 0 10px 10px 0;
    line-height: 40px;
    transition: all 0.5s ease;
  }
  .logo {
    width: 100px;
    @include medium {
      width: 70px;
    }
  }
  .copyright {
    text-align: left;
    color: #fff;
    margin: 0;
    padding: 0.6rem 0;
  }

  /* Shake animation */
  @keyframes shake {
    from,
    to {
      transform: scale(1, 1);
    }
    25% {
      transform: scale(0.9, 1.1);
    }
    50% {
      transform: scale(1.1, 0.9);
    }
    75% {
      transform: scale(0.95, 1.05);
    }
  }
}

/* Responsive adjustments for mobile version */
@media screen and (max-width: 768px) {
  footer {
    .column {
      margin: 0.4rem 0;
      width: 100%;
      padding: 0;
    }

    .row {
      display: flex;
      flex-wrap: wrap;
    }

    h4 {
      font-size: 1.3125rem;
    }

    p {
      font-size: 0.9375rem;
    }

    ul li a {
      font-size: 0.9375rem;
    }

    ul.social-icons li a {
      width: 1.975rem;
      height: 1.975rem;
    }
  }
}
