@import "../sass/variables";
@import "../sass/mixins";

.landing-page {
  .gallery {
    .mySwiper {
      .swiper-slide {
        width: 283px;
        height: 312px;
        border-radius: 9.91px 0px 0px 0px;
        position: relative;
        overflow: hidden;
        @include small {
          width: 200px !important;
          height: 230px !important;
        }
        .overlay {
          position: absolute;
          z-index: 2;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-image: linear-gradient(
            90deg,
            rgba(241, 118, 41, 0.5) 2.53%,
            rgba(245, 245, 245, 0.5) 68.81%
          );
        }
        img {
          position: relative;
          z-index: 1;
          width: 100%;
          height: 100%;
        }
      }

      .swiper-button-next,
      .swiper-button-prev {
        background-color: #e5e5e5c2;
        width: 61.59px;
        height: 61.5px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        border-radius: 50%;
        margin: auto;
        padding: 15px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        svg {
          font-size: 20px;
          color: $c-p;
        }
      }

      .swiper-button-next::after,
      .swiper-button-prev::after {
        display: none;
      }
    }
  }

  .app {
    font-family: "Josefin Sans", sans-serif !important;
    position: relative;
    margin: 100px 170px;
    padding: 20px 20px 0;
    min-height: 400px;
    overflow: hidden;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    @include medium {
      margin: 100px 80px;
    }
    @include small {
      margin: 75px 50px;
    }
    @include x-small {
      margin: 40px 25px;
      min-height: 300px;
    }
    .app-img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 1;
    }
    .overlay-dev {
      position: absolute;

      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 2;
      background-color: #00000048;
    }

    .app-inner {
      position: relative;
      z-index: 3;
      justify-content: space-between;
      display: flex;
      height: 400px;
      align-items: end;
      @include x-small {
        height: 300px;
      }
    }
    .app-text {
      margin: auto;
    }
    h2 {
      color: $c-w;
      font-size: 63.2px;
      font-weight: 700;
      line-height: 72.97px;
      padding-bottom: 15px;
      @include medium {
        font-size: 43.2px;
        font-weight: 700;
        line-height: 52.97px;
        text-align: center;
      }

      @include small {
        font-size: 30px;
        font-weight: 700;
        line-height: 40px;
      }
    }
    p {
      color: $c-w;

      @include medium {
        text-align: center;
      }
    }
    .buy {
      @include medium {
        justify-content: center;
        a {
          display: flex;
          img {
            cursor: pointer;
            margin: auto;
            width: 100%;
          }
        }
      }
    }
    button {
      img {
        height: 55px;
        width: 100%;
      }
    }
    .image {
      height: 400px;
      display: flex;
      img {
        height: 100%;
        margin: auto;
      }
      @include medium {
        display: none;
      }
      @include x-small {
        height: 300px;
      }
    }
  }
}
