@import "../sass/variables";
@import "../sass/mixins";

.landing-page {
  .intro {
    margin: 0 !important;
    width: 100%;
    height: 100vh;
    background-position: center;

    background: linear-gradient(
        to right,
        rgba(245, 245, 245, 0.8),
        rgba(255, 255, 255, 0.8)
      ),
      url("../assets/images/home-bg.png") no-repeat center center;

    background-size: cover;

    background-repeat: no-repeat;
    .modal-content {
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      overflow: hidden;
    }
    .custom-modal-size {
      width: 580px;
      height: 500px;
      display: flex;
      align-items: center;
      justify-content: center;

      @include small {
        width: 90%;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
      }
    }

    .header-modal {
      background-color: $c-b;
      display: flex;
      align-items: center;
      color: $c-w;

      height: 60px;
      padding-left: 10px;
      h1 {
        font-size: 16px;
        font-weight: 300;
        margin-left: 5px;
      }
    }

    .image-icon {
      width: 22px;
      height: 33px;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .body-header-modal {
      //height: 40px;
      // width: 500px;
      font-weight: 600;
      font-size: 40px;
      line-height: 30px;
      text-align: left;
      margin: 15px 0;
      padding: 0 10px;
      font-family: Rozha One;
      p {
        font-size: 16px;
        font-family: Josefin Sans;
        font-weight: 300;
        margin: 0;
        span {
          font-weight: 700;
        }
      }
    }

    .body--modal {
      display: flex;
      flex-direction: column;
      height: 100%;
    }

    .use-diff-num {
      font-size: 18px;
      font-weight: 600;
      font-family: Josefin Sans;
      color: $c-p;
      text-align: left;
      padding: 0 10px;
    }

    .group-inputs {
      width: 100%;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      margin: 16px 0;
      padding: 0 10px;
      justify-content: space-between;
      @include small {
        flex-direction: column;
        margin: 0;
        .one-input {
          width: 100%;
          margin: 16px 0;
        }
      }
    }

    .one-input {
      width: 48%;
      height: 65px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      line-height: 14px;
      border: 1px solid #e5e5e5;
      border-radius: 5px;
      padding: 5px;

      label {
        margin: 0;
        font-size: 12px;
        text-transform: capitalize;
      }

      input {
        width: 100%;
        font-size: 14px;
        height: 100%;
        outline: none;
        padding-left: 5px;
        border: none;
      }
    }

    .button-style {
      margin: 50px auto;
      background-color: $c-p;
      width: 235px;
      height: 50px;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      a {
        color: $c-w;
        font-size: 22px;
        font-weight: 500;
        text-decoration: underline;
        text-transform: capitalize;
      }
    }

    .one-input-passcode {
      width: 95%;
      margin: 10px auto;
      height: 80px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      line-height: 14px;
      border: 1px solid #e5e5e5;
      border-radius: 5px;
      padding: 5px 10px;

      label {
        margin: 0;
        font-size: 12px;
        text-transform: capitalize;
      }

      input {
        width: 100%;
        font-size: 16px;
        height: 100%;
        outline: none;
        padding-left: 5px;
        border: none;
      }
    }

    .image-congrate {
      margin: 10px auto;
      width: 66px;
      height: 80px;
      img {
        width: 100%;
        height: 100%;
      }
    }

    .text-congrate {
      font-size: 50px;
      font-weight: 700;
      line-height: 50px;
      text-align: center;
      font-family: Rozha One;
      color: rgba(0, 0, 0, 0.42);
      @include small {
        font-size: 35px;
      }
    }
    .text-created-account {
      font-weight: 300;
      font-size: 20px;
      font-family: Josefin Sans;
      text-align: center;
    }

    .page-content {
      min-height: 700px;
    }

    .btns-group {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 30px;
      margin: 20px auto;
      width: 80%;
      @include x-small {
        display: flex;
        flex-direction: column;
        width: 90%;
      }
      @include small {
        display: flex;
        width: 95%;
        flex-direction: column;
      }
    }

    .btn-secondary {
      width: 360px;
      height: 50px;
      border-radius: 10px;
      background-color: $c-b;
      color: $c-w;
      text-decoration: underline;
      font-size: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-transform: capitalize;
    }

    .btn-primary {
      width: 360px;
      height: 50px;
      border-radius: 10px;
      background-color: $c-p;
      color: $c-w;
      text-decoration: underline;
      font-size: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-transform: capitalize;
    }
  }
  .small-nav {
    height: 250px;
    @include small {
      height: 130px;
    }
    .navbar-toggler-icon {
      svg {
        height: 100%;
        width: 100%;
      }
    }
  }
  .conguratulation {
    margin-top: 100px;
    p {
      &::after {
        display: none;
      }
    }
  }
  .small-nav.show {
    height: 500px; /* Adjust height automatically */
  }
  .gallery {
    .mySwiper {
      .swiper-slide {
        width: 283px;
        height: 312px;
        border-radius: 9.91px 0px 0px 0px;
        position: relative;
        overflow: hidden;
        @include small {
          width: 200px !important;
          height: 230px !important;
        }
        .overlay {
          position: absolute;
          z-index: 2;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-image: linear-gradient(
            90deg,
            rgba(241, 118, 41, 0.5) 2.53%,
            rgba(245, 245, 245, 0.5) 68.81%
          );
        }
        img {
          position: relative;
          z-index: 1;
          width: 100%;
          height: 100%;
        }
      }

      .swiper-button-next,
      .swiper-button-prev {
        background-color: #e5e5e5c2;
        width: 61.59px;
        height: 61.5px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        border-radius: 50%;
        margin: auto;
        padding: 15px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        svg {
          font-size: 20px;
          color: $c-p;
        }
      }

      .swiper-button-next::after,
      .swiper-button-prev::after {
        display: none;
      }
    }
  }

  .plans-container {
    .card {
      font-family: "Rozha One", serif !important;
      padding: 2px 4px;
      border: 1px solid #bababa;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      overflow: hidden;
      width: calc(50% - 10px);
      margin: 5px;

      @include small {
        width: 100%;
      }
    }
    .card-inner {
      position: relative;
      width: 100%;
      height: 350px;
      overflow: hidden;
      border-radius: 15px;
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      -ms-border-radius: 15px;
      -o-border-radius: 15px;
      @include small {
        height: 250px;
      }
    }
    .overlay {
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        90deg,
        rgba(241, 118, 41, 0.41) 2.53%,
        rgba(245, 245, 245, 0.56) 55.9%
      );
    }
    img {
      position: absolute;
      z-index: 1;
      width: 100%;
      height: 100%;
    }
    .content {
      padding: 10px;
      position: relative;
      z-index: 3;
      height: 100%;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: end;
      color: #706e57;
      h2 {
        text-align: center;
        font-size: 98px;
        font-weight: 400;
        line-height: 60px;
        @include medium {
          font-size: 60px;
          font-weight: 400;
          line-height: 50px;
        }

        @include small {
          font-size: 40px;
          font-weight: 400;
          line-height: 30px;
        }

        @include x-small {
          font-size: 30px;
          font-weight: 400;
          line-height: 20px;
        }

        span {
          font-size: 60px;
          font-weight: 400;
          line-height: 60px;
          text-align: center;
          @include medium {
            font-size: 40px;
            font-weight: 400;
            line-height: 40px;
          }

          @include small {
            font-size: 30px;
            font-weight: 400;
            line-height: 30px;
          }

          @include x-small {
            font-size: 23px;
            font-weight: 400;
            line-height: 23px;
          }
        }
      }
      p {
        color: #706e57;
        margin-top: 5px;
        margin-bottom: 60px;
        text-align: center;
        font-size: 25px;
        font-weight: 400;
        line-height: 30px;
        @include medium {
          font-size: 22px;
          font-weight: 400;
          line-height: 30px;
        }

        @include medium {
          font-size: 18px;
          font-weight: 400;
          line-height: 28px;
        }
      }
    }
  }

  .app {
    font-family: "Josefin Sans", sans-serif !important;
    position: relative;
    margin: 100px 170px;
    padding: 20px 20px 0;
    min-height: 400px;
    overflow: hidden;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    @include medium {
      margin: 100px 80px;
    }
    @include small {
      margin: 75px 50px;
    }
    @include x-small {
      margin: 40px 25px;
      min-height: 300px;
    }
    .app-img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 1;
    }
    .overlay-dev {
      position: absolute;

      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 2;
      background-color: #00000048;
    }

    .app-inner {
      position: relative;
      z-index: 3;
      justify-content: space-between;
      display: flex;
      height: 400px;
      align-items: end;
      @include x-small {
        height: 300px;
      }
    }
    .app-text {
      margin: auto;
    }
    h2 {
      color: $c-w;
      font-size: 63.2px;
      font-weight: 700;
      line-height: 72.97px;
      padding-bottom: 15px;
      @include medium {
        font-size: 43.2px;
        font-weight: 700;
        line-height: 52.97px;
        text-align: center;
      }

      @include small {
        font-size: 30px;
        font-weight: 700;
        line-height: 40px;
      }
    }
    p {
      color: $c-w;

      @include medium {
        text-align: center;
      }
    }
    .buy {
      @include medium {
        justify-content: center;
        a {
          display: flex;
          img {
            cursor: pointer;
            margin: auto;
            width: 100%;
          }
        }
      }
    }
    button {
      img {
        height: 55px;
        width: 100%;
      }
    }
    .image {
      height: 400px;
      display: flex;
      img {
        height: 100%;
        margin: auto;
      }
      @include medium {
        display: none;
      }
      @include x-small {
        height: 300px;
      }
    }
  }
}
